body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: #333;
}

header {
    background-color: lime;
    color: red;
    padding: 1em;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
}

header span {
    color: #e74c3c;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

.menu li {
    margin: 0 1em;
}

.menu a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.menu img {
    width: 20px; /* Adjust size as needed */
    height: 20px;
}

.banner {
    display: flex;
    overflow: hidden;
    height: 200px; /* Adjust height as needed */
    position: relative;
}

.banner img {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.banner img.active {
    opacity: 1;
}

main {
    padding: 1em;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.item {
    background-color: white;
    border: 1px solid #00ff00;
    padding: 1em;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    color:red
     weight: 100%;
    height: 70%;
    
}

.item img {
    max-width: 100%;
    height: auto;
}

.item:hover {
    transform: scale(1.05);
    background-color: red;
    
    
    
}

footer {
    background-color: lime;
    color: red;
    padding: 1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height:3.5%;
}

footer nav {
    display: flex;
    justify-content: space-around;
}

footer nav a {
    color: red;
    text-decoration: none;
}

footer nav img {
    width: 30px; /* Adjust size as needed */
    height: 30px;
    color: red;
}